<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Главная</title>
</head>
<body>

<a href="#bottom"><div class="fast"> \/</div> </a>
<div class="one"><h1>Добро пожаловать!</h1></div>

<br><div class="logo"><br><img src="static/img/icon_move.gif"><br></div>

<div class="main_one">
    <p>Представляем вам нашего бота для Discord.</p>
    <p style="text-align: left;">
        Он станет лучшим помошником в играх и общении.
        Множество функций позволят сделать ваш игровой опыт более насыщенным,
        а общение удобнее и комфортнее.
    </p>
</div>

<div class="main_two">
    <p style="text-align: left;">Попробуй нашего бота! Ты можешь прочитать о его возможностях на нашем сайте.</p>
</div>

<div class="main_tree">
    <p>Скачай совершенно бесплатно ниже по ссылке. Если у тебя есть идеи как нам улучшить нашего бота, напиши нам!</p>
</div>

<div style="float: left;">
<img src="static/img/boom_move.gif">
</div>

    <a href="/commands"><div class="button" style="margin-left: 50%;">список команд</div></a>
    <a href="https://discord.com/api/oauth2/authorize?client_id=1087669995200315454&permissions=0&scope=bot"
       target="_blank"><div class="button" style="margin-left: 60%;">Ссылка на бота</div></a>
    <a href="https://discord.com/download" target="_blank"><div class="button">Скачать дискорд</div></a>

<a href="mailto:yandexPr@gmail.com ? subject=Идея для бота">
    <div class="mail">Отправте нам ваши идеи!</div></a>
<a name="bottom"></a>

<style>
    .button:hover { background: #686C5E; }
</style>

<style>
    .mail:hover { color: red; }
</style>

<style>
    .fast:hover { background: #686C5E; }
</style>


</body>
</html>